

pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl

# Module 1: Image Pre-Processing & OCR
opencv-python==4.7.0.72
pytesseract==0.3.10
Pillow==9.5.0

# Module 2: Natural Language Processing
spacy==3.4.4
thinc==8.1.10
nltk==3.8.1

# Data Processing
pandas==1.5.3
numpy==1.24.3

# Utilities
python-dotenv==1.0.0
Flask==2.3.2
Flask-CORS==4.0.0
joblib==1.2.0

# Accuracy Metrics
python-Levenshtein==0.21.1
scikit-learn==1.2.2
pip install PyPDF2 pdfplumber
pip install pdf2image

pip install supabase scikit-learn numpy


# Database (if using Python DB connections)
# psycopg2-binary==2.9.7  # PostgreSQL
# pymongo==4.5.0          # MongoDB